.title{
  background-image: linear-gradient(to right,rgb(9, 155, 212) , rgb(12, 67, 104));
  text-align: center;
  color: white;
  font-size: 60px;


}
#city-cont{
  margin-top: 10px;

  padding: 10%;
}

#card{
  border: 2px solid black;
  padding: 5%;
  margin-left: 30px;;
margin-top: 25px;
height: 300px;
background-color: navy;
color: white;

}
#cont{
  width: 100px;
}

.btn{
  width: 185px;
  color: white;
  background-color:rgb(22, 93, 141);
}
.todayweather {
  margin-top: 50px;
  display: flex;
  border: 5px solid black;
  background-color:rgb(9, 155, 212)  ;
  width: 80%;
}